:root {
    --var-text: #efbebe;
    --var-primary: #030341;
    --var-primary-shadow: rgba(3, 3, 65, 0.44);
    --var-green-gray: #17293F;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--var-primary);
    font-family: "Roboto Condensed", -apple-system, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

main, section {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

.separator {
    display: block;
    height: 100vh;
}

.half-separator {
    display: block;
    height: 50vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.container h1 {
    font-family: Courier, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

.container h2 {
    font-family: Courier, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

.container p {
    color: var(--var-text);
    font-size: 1rem;
}

/** INTRO **/

#intro {
    background: url('images/beach.png') center no-repeat;
    background-size: cover;
    height: 100vh;
    position: sticky;
    top: 0;
}

#intro .inner {
    background: url('images/palms.png') center no-repeat;
    background-size: cover;
    height: 100%;
    color: var(--var-primary);
    text-shadow: 2px 4px 5px var(--var-primary-shadow);
}

/** FIRST **/

#first {
    background: url('images/vespa.png') center no-repeat;
    background-size: contain;
    height: 100vh;
    color: var(--var-text)
}

#first .inner {
    display: block;
    position: absolute;
    top: -70vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

.one-to-two {
    background: var(--var-primary);
    background: linear-gradient(-180deg, var(--var-primary) 0%, #0F5EA0 100%);
}

/** SECOND **/

#second {
    background: url('images/lake-3749758.png') top center no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--var-text)
}

#second .inner {
    display: block;
    position: absolute;
    top: -40vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}


/** THIRD **/

#third {
    background: url('images/x-bg.png') top center no-repeat;
    background-size: cover;
    height: 100vh;
    top: -50%;
    color: var(--var-text)
}

#third > div {
    background: url('images/x-moon.png') top center no-repeat;
    height: 100%;
    background-position: 5% 0;
}

#third > div > div {
    background: url('images/x-city.png') top center no-repeat;
    background-size: cover;
    height: 100%;
}

#third .inner {
    display: block;
    position: absolute;
    top: -40vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

#third .gradient-separator {
    background: linear-gradient(-180deg, var(--var-primary) 0%, #00001E 100%);
    height: 90px;
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
}

#third .gradient-separator-bottom {
    background: linear-gradient(-180deg, #360064 0%, var(--var-primary) 100%);
    height: 150px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

/** FOURTH **/

#fourth {
    overflow: visible;
    background: url('images/fourth/bike-shadow.png') bottom center no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: var(--var-text)
}

#fourth > div {
    background: url('images/fourth/bike-bg.png') bottom center no-repeat;
    background-size: 100% 100%;
    height: 100%
}

#fourth .inner {
    display: block;
    position: absolute;
    top: -60vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}


/** FIFTH **/

#fifth {
    overflow: visible;
    background: url('images/cars.png') center no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--var-text)
}

#fifth .inner {
    display: block;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

/* SIXTH */

#sixth {
    overflow: visible;
    background: url('images/mountains.png') center no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--var-text)
}

#sixth .inner {
    display: block;
    position: absolute;
    top: -20vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

/* SEVEN */

#seven {
    overflow: visible;
    background: var(--var-green-gray) url('images/house-l.png') center no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--var-text)
}

#seven > div {
    background: url('images/house-r.png') bottom center no-repeat;
    background-size: 100% 100%;
    height: 100%
}

#seven .inner {
    display: block;
    position: absolute;
    top: -40vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}


/* EIGHT */

#eight {
    overflow: visible;
    background: var(--var-green-gray) url('images/sunset.png') center no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--var-text)
}

#eight > div {
    background: url('images/sunset-boat.png') bottom center no-repeat;
    background-size: 100% 100%;
    height: 100%
}

#eight .inner {
    display: block;
    position: absolute;
    top: -60vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

#eight .gradient-separator-top {
    background: linear-gradient(-180deg, var(--var-green-gray) 0%, #F7A535 100%);
    height: 450px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
}

/* NINTH */

#ninth {
    overflow: visible;
    background: url('images/people.png') center no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--var-text)
}

#ninth .inner {
    display: block;
    position: absolute;
    top: -50vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
    color: #000;
}

#ninth .inner p {
    color: #000;
}

#color-seperator {
    background: linear-gradient(-180deg, #F65E43 0%, #F1F0FF 100%);
}

#ninth > div {
    background: url('images/clouds_9.png') bottom center no-repeat;
    background-size: 100% 100%;
    height: 100%
}

/* TEN */
#ten .inner {
    display: block;
    position: absolute;
    top: -50vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
    color: #000;
}

#ten .inner p {
    color: #000;
}

#ten {
    background: url('images/mountains_without.png') top center no-repeat;
    background-size: cover;
    height: 100vh;
    top: -50%;
    color: var(--var-text)
}

#ten > div {
    background: url('images/ballon1.png') top center no-repeat;
    background-size: cover;
    height: 100%;
    background-position: 5% 0;
}

#ten > div > div {
    background: url('images/ballon2.png') top center no-repeat;
    background-size: cover;
    height: 100%;
}

#color-seperator-10 {
    background: linear-gradient(-180deg, #CADB7C 0%, #375BFF 100%);
}

#color-seperator-11 {
    background: linear-gradient(-180deg, #2E81C3 0%, #7EB0F6 100%);
}
/* ELEVEN */
#eleven .inner {
    display: block;
    position: absolute;
    top: -50vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
    color: #000;
}

#eleven .inner p {
    color: #000;
}

#eleven {
    background: url('images/mountains-eleven.png') top center no-repeat;
    background-size: cover;
    height: 100vh;
    top: -50%;
    color: var(--var-text);
    animation-name: mountain;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

#eleven .trees {
    background: url('images/trees.png');
    background-size: cover;
    height: 100%;
    animation-name: trees;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

@keyframes trees {
    0%   {background-position: 0% 100%;}
    100% {background-position: 100% 100%;}
}

@keyframes mountain {
    0%   {background-position: 0% 100%;}
    100% {background-position: 15% 100%;}
}

#footer {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
}